#editor-page{
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  #outer-container {

    height: 100%;
    .component-aside{
      padding: 10px;
      &-item{
        margin-bottom: 10px;
        height: 90px;
        border-bottom: 1px solid red;
        padding: 10px;
        .label{
          margin-bottom: 5px;
        }
        .component{
          background-color: transparent;
        }
      }
    }
  }

  #inner-container {
    background-color: pink;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .header{
      background-color: yellow;
      width: 100%;
      padding: 10px;
      &-menu-btn{
        background-color: #fff;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        border: 1px solid pink;
      }
    }
    // 保持居中
    .main-page{
      position: relative;
      overflow: scroll;
      background-color: #fff;
      &-item{
        height: 40px;
        position: absolute;
      }
      &-item--focus {
        border: 1px dotted red;
        position: absolute;
      }
      .line-x {
        position: absolute;
        top: 0;
        bottom: 0;
        border-left: 1px dashed red;
      }

      .line-y {
        position: absolute;
        left: 0;
        right: 0;
        border-top: 1px dashed red;
      }
    }

  }
}
