#editor-page{
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  #outer-container {

    height: 100%;
    .component-aside{
      padding: 10px;
      &-item{
        margin-bottom: 10px;
        height: 90px;
        border-bottom: 1px solid red;
        padding: 10px;
        .label{
          margin-bottom: 5px;
        }
        .component{
          background-color: transparent;
        }
      }
    }
  }

  #inner-container {
    background-color: pink;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // 保持居中
    .main-page{
      position: relative;
      overflow: scroll;
      background-color: #fff;
      &-item{
        height: 40px;
        position: absolute;
      }
      &-item--focus {
        border: 1px dotted red;
        position: absolute;
      }
    }
  }
}
